*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-image: url('./image/portfolio-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.slider-nav img{
  border-radius: 20px;
  padding: 0px 10px;
}

.slide-show{
  display: flex;
  padding-left: 350px;
}
/*------------------ N A V B A R -------------*/

header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(50px);
  background-image: url('./image/portfolio-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar{
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: larger;
}

#navigation{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

#navigation>a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

#nav-icons{
  display: flex;
  gap: 20px;
}
/*------------- M A I N - B O D Y ---------------*/
#main{
  margin-top: 50px;
}
.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.banner>img{
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

#banner-content{
  width: 500px;
  color: white;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  
}
/*-------------- A B O U T _ M E -----------*/

.about_me{
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

#about-content{
  
  background-color: rgba(0, 0, 0, 0.204);
  padding: 40px;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-content>h1{
  text-transform: capitalize;
  color: aquamarine
}

/* ------------- P R O J E C T S --------------- */

.projects-heading{
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: white;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.projects{
  margin: 10% 0%;
  width: 100%;
  height: auto; 
  color: white;
  text-transform: capitalize;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#project-1{
  backdrop-filter: blur(50px);
  border-radius: 20px;
  display: flex;
  padding: 30px;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.204);
}

#project-1>img{
  width: 450px;
  height: 250px;
  border-radius: 20px;
}

#project-content{
  width: 400px;
  height: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  color: white;
}

/* -------- P A R T I C L E S -------- */

.particles-js-canvas-el{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

/* -------------- L A N G U A G E S ---------------- */

#languages-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-transform: capitalize;
  color: white;
}

.main-language-container{
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}

.about-languages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.204);
}

.common-languages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.204);
}

.common-languages>img{
  width: 400px;
  height: 150px;
}

.about-languages>img{
  width: 100px;
  height: 100px;
}