*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

/*------------------ N A V B A R -------------*/

header{
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navbar{
  display: flex;
  color: cyan;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: larger;
  background-color: black;
}

#navigation{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

#navigation>a{
  text-decoration: none;
  color: cyan;
  text-transform: capitalize;
}

#nav-icons{
  display: flex;
  gap: 20px;
}
/*------------- M A I N - B O D Y ---------------*/
#main{
  margin-top: 50px;
}
.banner{
  display: flex;
  border: 1px solid cyan;
  justify-content: space-between;
}

.banner>img{
  width: 690px;
  height: 690px;
}

#banner-content{
  width: 700px;
  color: white;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}
/*-------------- A B O U T _ M E -----------*/

.about_me{
  color: white;
  width: 100%;
  height: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 30% 0%;
}

#about-content{
  border: 1px solid cyan;
  padding: 40px;
  width: 800px;
  height: 500px;
}

#about-content>h1{
  text-transform: capitalize;
  color: aquamarine
}

/* ------------- P R O J E C T S --------------- */

.heading{
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: aquamarine;
}

.projects{
  margin: 10% 0%;
  width: 100%;
  height: auto;
  border: 1px solid cyan;
  color: white;
  text-transform: capitalize;
}

#project-1{
  border: 1px solid cyan;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#project-1>img{
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

#project-content{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------- P A R T I C L E S -------- */

.particles-js-canvas-el{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}